:root{
  --primary: #004fe5;
  --secondary-color: #FD7847;
  --white: #fff;
  --error-color: rgba(197, 60, 60, 0.783);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* text color */

.text-custom-primary{
  color: var(--primary);
}
.text-custom-secondary{
  color: var(--secondary-color);
}

/* button css */
.btn-custom-primary{
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-custom-outline-primary{
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}
.btn-custom-secondary{
  color: var(--white);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.btn-custom-outline-secondary{
  color: var(--secondary-color);
  background-color: var(--white);
  border: 1px solid var(--secondary-color);
}

/* backgound css */

.bg-custom-primary{
  background-color: var(--primary);
}
.bg-custom-secondary{
  background-color: var(--secondary-color);
}

input{
  caret-color: var(--secondary-color);
}

.form-control:focus {
  box-shadow: none!important;
}
.card-img-top{
  height: 250px;
}
.error{
  border: 1px solid var(--error-color)!important;
}

/* loader css */

.box {
  display: inline-block;
  background: rgb(0, 0, 0, .5);
  border-radius: 3px;
  font-size: 30px;
  padding: 1em;
  position: relative;
  transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  margin: auto;
  width: 100%;
  height: 100%;

}
[class*=loader-] {
  display: inline-block;
  width: 4em;
  height: 4em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
}
.card-body{
  cursor: pointer;
}
.loader-01 {
  border: 0.5em dotted var(--secondary-color);
  border-radius: 50%;
  -webkit-animation: 3s loader-01 linear infinite;
          animation: 3s loader-01 linear infinite;
}

@-webkit-keyframes loader-01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}